<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiajiaqian.kitchen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:name=".KitchenApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.personal.PersonalMyOrderActivity">

        </activity>
        <activity android:name=".ui.personal.PersonalSettingActivity">

        </activity>
        <activity android:name=".ui.personal.PersonalMyDataActivity">

        </activity>
        <activity android:name=".ui.personal.PersonalNoAddressActivity">

        </activity>
        <activity android:name=".ui.personal.PersonalAddressActivity">

        </activity>
        <activity android:name=".ui.personal.PersonalRelationActivity">

        </activity>
        <activity android:name=".ui.personal.PersonalAddressEditActivity">

        </activity>
        <activity android:name=".ui.personal.PersonalMyDataEditActivity">

        </activity>
        <activity android:name=".ui.personal.PersonalAboutKitchenActivity"/>
        <activity android:name=".ui.shop.ShopAccountsActivity">

        </activity>
        <activity android:name=".ui.ProductDetailsActivity">

        </activity>
        <activity android:name=".ui.ProductSearchActivity">

        </activity>
        <activity android:name=".ui.ShopActivity">

        </activity>
        <activity android:name=".ui.sort.SubSortListActivity">
        </activity>
        <activity android:name=".ui.home.SelectAddressActivity">
        </activity>
        <activity android:name=".ui.shop.ShopProductDetailsActivity"></activity>
        <activity android:name=".ui.personal.PersonalAddressAddActivity"></activity>
        <activity android:name=".ui.personal.PersonalMyOrderDetailsActivity"></activity>
        <activity android:name=".ui.shop.ShoppingCartPayAddressChoose"></activity>
    </application>

</manifest>